mat-toolbar{
    justify-content: space-between;
}

.mid{
    display: flex;
    gap: 2em;
    user-select: none;
    position: relative;
    padding: 0.2em;
    & a{
        cursor: pointer;
        color:white;
        text-decoration: none;
        transition: .25s;
    }

    &::after{
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 40%;
        background: #FFF;
        height: 0.2em;
    }
}