:root {
  --primary: #3f51b5;
}

* {
  margin: 0;
  box-sizing: border-box;
}

img {
  user-select: none;
}

body,
html {
  width: 100%;
  min-height: 100vh;
  height: 100%;
}

body {
  overflow-y: scroll;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
